body{
    margin:0 auto;
}

.grid{
    display: grid;
    grid-template-areas:'navbar'
                        'header'
                        'section1'
                        'section2'
                        'section3'
                        'rodape';
 
    grid-template-columns: 100%;
    grid-template-rows: 10px 500px 15vh 20vh 10vh;
}

.navbar{
    background-color: green;
    grid-area: 'navbar';
    
}

.banner1{
    display: flex;
    grid-area: 'header';
    background-image:url(../imagens/banner.png);
    justify-content: center;
    
 
}

.mao1{
    height: 420px;
    margin-left: 50px;
}
.imgmao{
align-items: flex-end;
display: flex;
}

.textobanner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: white;
}
.h1{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    font-weight: inherit;
}

.ponto{
    color: green;
}

.section1{
    grid-area: 'section1';
    display: flex;
    background-color: white;

}

.section2{
    display: flex;
    background-color: lightgray;
}

.text2{
    flex-direction: column;
}